  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Curr.&TeachingDept</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="">Blue-lit</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- other JS Files -->
  <script src="assets/other/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/other/glightbox/js/glightbox.min.js"></script>
  <script src="assets/other/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/other/swiper/swiper-bundle.min.js"></script>
  <script src="assets/other/php-email-form/validate.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>