<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/unical.png" rel="icon">

    <!-- other CSS Files -->
    <link href="assets/other/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/other/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/other/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/other/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!--Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <h1><a href="index.html">Curr.&TeachingDept</a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#edutech">EduTech</a></li>
                    <li><a class="nav-link scrollto" href="#edutech">Elementary Education</a></li>
                    <li><a class="nav-link scrollto" href="#library">Library</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="/signup">Sign Up</a></li>
                    <li><a class="nav-link scrollto" href="/login">Log In</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End #header -->