<% include partials/header %>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-12">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase text-center"><b>ACADEMIC REGULATIONS</b></h3>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>ORGANISATION OF PROGRAMMES:</b>
                                            </h5>
                                            <ol>
                                                <p>A programme of studies shall be provided leading to the award of
                                                    Bachelors degree denoted as B. Ed which may either be honors or pass
                                                    degree. Instruction for all programmes shall be organized in courses
                                                    and students shall be required to take a combination of courses
                                                    approved by senate on the recommendations of the Board of the
                                                    Departments and Faculty respectively, as May, from time to time
                                                    determined. Students shall normally be required to register for a
                                                    minimum of 15 and a maximum of 24 prescribed courses in each
                                                    academic session.</p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>REGISTRATION PROCEDURE:</b>
                                            </h5>
                                            <ol>
                                                <p>All students shall register in the department on payment of all
                                                    school charges.</p>
                                            </ol>
                                            <ol>
                                                <p>New students shall present the originals of their credentials to the
                                                    Head of the Department for screening. Successful students will be
                                                    given clearance to pay their school charges.</p>
                                            </ol>
                                            <ol>
                                                <p>School charges are paid at the designated Banks, log-on-pin number to
                                                    register and then obtain the official University receipt generated
                                                    by the on-line NUC Data Base.</p>
                                            </ol>
                                            <ol>
                                                <p>The procedure shall be in accordance with the University directive
                                                    for every semester/session students’ registration.</p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>LATE REGISTRATION:</b>
                                            </h5>
                                            <ol>
                                                <p>All students who have been offered admission as well as continuing
                                                    students are expected to register every semester/session at the
                                                    Faculty and the Department with appropriate registration charges
                                                    within a prescribed period. Otherwise, stand to loose that session
                                                    or semester.</p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>REGULATIONS COVERING THE CONDUCT OF EXAMINATIONS:</b>
                                            </h5>
                                            <ol>
                                                <p>1. In other to be admitted to an examination, a student must have
                                                    been registered for the course and satisfy all University
                                                    requirements regarding the mandatory 75%attendance at
                                                    lectures/practical and the payment of school and Departmental
                                                    charges.</p>
                                            </ol>
                                            <ol>
                                                <p>2. It shall be the responsibility of each student to register for the
                                                    appropriate examination and to ascertain the dates, time and place
                                                    of examinations.</p>
                                            </ol>
                                            <ol>
                                                <p>3. A student shall be at the examination room at least 30minutes
                                                    before the advertised time for the examination.</p>
                                            </ol>
                                            <ol>
                                                <p>4. A student shall be admitted up to 30minutes after the start of
                                                    examination but he shall not be allowed extra time.</p>
                                            </ol>
                                            <ol>
                                                <p>5. The student must produce the registration and identity cards on
                                                    entry to every examination and leave them prominently displaced on
                                                    the desk for the inspection of the invigilator through out the
                                                    examination. It shall be the duty of the invigilator to enter in the
                                                    register and accurate record of the registration number, (not the
                                                    name) of every candidate attention in the examination. <br>
                                                    A student may be permitted by the invigilator to leave the
                                                    examination room in the course of an examination provided that <br>
                                                    <br>
                                                    a) No student shall be allowed to leave the examination room, during
                                                    the first hour of the examination, except in case of emergency. In
                                                    the event of a candidate being taken ill, that invigilator must
                                                    complete the appropriate form and send the sick candidate along with
                                                    an examination attendance to the Medical Centre. The student must
                                                    hand his script to the invigilator before leaving. <br> <br>
                                                    b) A student who leaves the examination room shall not be readmitted
                                                    unless through out the period of the absence he has been continually
                                                    under the supervision of an invigilator or a person duly appointed
                                                    to him.
                                                </p>
                                            </ol>
                                            <ol>
                                                <p>6. No student shall communicate with any other student or with any
                                                    other person, except with the invigilator when necessary. In
                                                    addition, no student shall make any noise or cause any disturbance
                                                    during the examination.</p>
                                            </ol>
                                            <ol>
                                                <p>7. No book, paper, printed or written document, or other aids may be
                                                    taken into the examination room by any student, except may be stated
                                                    in the rubric of any examination paper. Any candidate found in
                                                    possession of such items shall be reported in writing to the
                                                    Departmental examination officer who shall inform the Departmental
                                                    Board which shall determine whether or not to accept the student
                                                    script or make any other recommendations to the Faculty Board of
                                                    Examiners. Each student is required to deposit, at his own risk, any
                                                    handbag, briefcase or similar articles at a desk provided for the
                                                    purpose before the start of an examination.</p>
                                            </ol>
                                            <ol>
                                                <p>8. No student may, directly or indirectly, give assistance to any
                                                    other student, or permit any student to copy or otherwise use his
                                                    papers. Similarly, a student must not directly or accept assistance
                                                    from any student or any other unauthorized person.</p>
                                            </ol>
                                            <ol>
                                                <p>9. If any student is found to infringe, or is suspected of infringing
                                                    on any way or disturbing the conduct of the examination, the
                                                    invigilator shall apprehend the student. The student shall be made
                                                    to submit a written report on the incident to the chief invigilator
                                                    before his script is collected at the end of the examination. The
                                                    invigilator shall submit a written report to the Department
                                                    Examination’s Officer immediately after the examination. The
                                                    Examination Officer will cause the circumstances to be investigated
                                                    and will report to the Departmental Board of Examiners which may
                                                    subsequently recommend to the Faculty Board of Examiners what action
                                                    should be taken in the case. The Faculty, after establishing a prima
                                                    facia shall immediately report the matter to the Senate Committee on
                                                    Examination malpractice, attaching all exhibits and making
                                                    recommendations based on its findings. The Senate Committee will
                                                    immediately look into the case, inviting the parties concerned for
                                                    interview, giving opportunities for cross examination, and finally
                                                    sending its recommendation to Senate.</p>
                                            </ol>
                                            <ol>
                                                <p>10. Each student shall write his registration number, not his name,
                                                    distinctly at the appropriate place on the cover of every answer
                                                    booklet or separated sheet attached to the answer booklet.</p>
                                            </ol>
                                            <ol>
                                                <p>11. Except for the printed question paper, a student shall not remove
                                                    from the examination room or mutilate any paper or other material
                                                    supplied. </p>
                                            </ol>
                                            <ol>
                                                <p>12. At the end of the time allowed, the invigilator shall instruct
                                                    all students to stop writing and they must comply.</p>
                                            </ol>
                                            <ol>
                                                <p>13. The invigilator shall put the answer scripts serially in sealed
                                                    envelopes. Each envelop must be signed by each invigilator. The
                                                    invigilator shall return the sealed envelope to the chief
                                                    examination Officer and obtain a receipt for same. It shall be the
                                                    responsibility of the Chief examiner in each department to collect
                                                    and sign for examination scripts.</p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>ABSENCE FROM EXAMINATION:</b>
                                            </h5>
                                            <ol>
                                                <p>
                                                    NB: An application by the student, or if he is incapacitated, by a
                                                    person acting on his behalf for exemption from any examination on
                                                    medical grounds shall be submitted to the Vice Chancellor through
                                                    the Dean, HOD and course lecturer not later than 7 days after the
                                                    date of the examination, providing full relevant evidence (medical
                                                    certificate supplied or recognized by the Director of the University
                                                    Medical Centre/ Services)
                                                </p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>APPEALS:</b>
                                            </h5>
                                            <ol>
                                                <p>
                                                    1. e.g. student may appeal through the Head of Department and the
                                                    Dean of the Faculty for a reassessment of the Examination script on
                                                    payment of a fee of N400.00 per course unit. If the appeal results
                                                    in a significant improvement (i.e, a change in later grade) on the
                                                    student original grade the Appeal fee shall be refunded to the
                                                    appellant.
                                                </p>
                                            </ol>
                                            <ol>
                                                <p>
                                                    No person can appeal for the reassessment of the scripts of some
                                                    other student. </p>
                                            </ol>
                                            <ol>
                                                <p>
                                                    For group appeal to be valid, notice in writing of such an appeal
                                                    must be lodged with the registrar within four weeks after Senate
                                                    approval of the particular results.
                                                </p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>DETERMINATION OF PASS, REPEAT, PROBATION AND WITHDRAWAL PERFORMANCE
                                                    PASS:</b>
                                            </h5>
                                            <ol>
                                                <p>
                                                    A person shall have passed the examination if he/she obtains pass
                                                    grade of E (1.00 point) or above in five course units minimum and
                                                    eight course Units maximum.
                                                </p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>REPEATING FAILED COURSES:</b>
                                            </h5>
                                            <ol>
                                                <p>
                                                    A student shall repeat a course or courses failed at the next
                                                    available opportunity provided the total number of credit hours
                                                    during that semester is not more than 24. A student repeating a
                                                    course shall retain the grade earned in that course. The grade point
                                                    earned at first and subsequent attempts shall count towards the
                                                    student’s Cumulative Grade Point Average (CGPA).
                                                </p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>PROBATION:</b>
                                            </h5>
                                            <ol>
                                                <p>
                                                    Probation is a status granted to a student - <br>
                                                    <b>1.</b> Who fails up to 10 Credit Units and CGPA is less than
                                                    1.50. <br>
                                                    <b>2.</b> Who fails up to 15 Credit Units and CGPA is less than
                                                    1.50.
                                                    Such student shall be required to repeat only the courses of the
                                                    previous year and will not take on any new course. The student will
                                                    be credited with grade earned during the first attempt and during
                                                    the second probation year. At the end of the probation year, the
                                                    student’s CGPA will be calculated based on the two sets of results.
                                                </p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>WITHDRAWAL:</b>
                                            </h5>
                                            <ol>
                                                <p>
                                                    1. A student who fails up to 15 credit Units but CGPA is less than
                                                    1.5 should withdraw from the University or change course. <br>
                                                    2. A student who fails more than 15 Credit Units should withdraw.
                                                </p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>MINOR MISCONDUCT:</b>
                                            </h5>
                                            <ol>
                                                <p>
                                                    Any act of Omission or commission involving the following: <br>
                                                    1. Physical assault on any student. <br>
                                                    2. Copying at an examination. <br>
                                                    3. Gambling within the University Community. <br>
                                                    4. Unauthorized use of another student library borrowing card. <br>
                                                    5. Possession of extraneous materials at the examination. <br>
                                                    6. Using official student position to bargain for favour from any
                                                    authority of the University. <br>
                                                    7. Drunkenness on campus during school hours.
                                                </p>
                                            </ol>
                                            <h5>
                                                <b>PENALTY FOR MINOR MISCONDUCT</b>

                                            </h5>
                                            <ol>
                                                <p>
                                                    Any student found guilty of any minor misconduct shall be rusticated
                                                    from the University for one year with cancelation of the results in
                                                    the case of examination misconduct.
                                                </p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>FINAL YEAR OF STUDY:</b>
                                            </h5>
                                            <ol>
                                                <p>
                                                    A student who fails to obtain the necessary minimum requirements for
                                                    degree may be permitted by senate to enroll for an additional period
                                                    of study not exceeding 50% of the total approved duration for
                                                    his/her programme including any probation and/or suspension of study
                                                    years but excluding a sickness period covered by medical report
                                                    approved by Senate.
                                                </p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>EXAMINATION GRADINGN SYSTEM:</b>
                                            </h5>
                                            <ol>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p>
                                                            <b>Percentage Mark Grade</b>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            <b>Grade</b>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            <b>Point Description</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p>
                                                            70-100 <br> Excellent
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            A
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            5
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p>
                                                            60-69 <br> Very Good
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            B
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            4
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p>
                                                            50-59 <br> Good
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            C
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            3
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p>
                                                            45-49 <br> Fair
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            D
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            2
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p>
                                                            40-44 <br> Pass
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            E
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            1
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p>
                                                            0-39 <br> Fail
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            F
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>
                                                            0
                                                        </p>
                                                    </div>
                                                </div>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>CLASSIFICATION OF DEGREE:</b>
                                            </h5>
                                            <ol>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>
                                                            <b>Grade Point Average</b>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>
                                                            <b>Class of Degree</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>
                                                            6.50-500
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>
                                                            First Class (Hons)
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>
                                                            3.50-4.49
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>
                                                            Second Class Upper (Hon)
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>
                                                            2.40-3.49
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>
                                                            Second Class Lower (Hons)
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>
                                                            1.50-2.39
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>
                                                            Third Class (Hons
                                                        </p>
                                                    </div>
                                                </div>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12 text-center">
                                        <ul>
                                            <h3>
                                                <b>ACADEMIC PROGRAMMES- UNDERGRADUATE</b>
                                            </h3>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <ul>
                                            <h5>
                                                <b>LATE:</b>
                                            </h5>
                                            <ol>
                                                <p>

                                                </p>
                                            </ol>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>